{%extends 'store/main.html'%}
{%load static%}
{%block content%}
    <div class="row">
        {% for product in products %} 
            {% if forloop.counter0 == 6 and recommends %}
            <div class= "recoCon">
                <br/>
                <h3>Recommended Items based on Items in Your Basket</h3>
                {% for recommend in recommends %}
                <div class = "col-lg-4">
                    <img class="thumbnail" src="{{recommend.image}}">
                    <div class="box-element product">
                        <h6><strong>{{recommend.name}}</strong></h6>
                        <hr/>
                        <button class="btn btn-outline-secondary add-btn update-cart" data-product={{recommend.id}} data-action="add">Add to Cart</button>
                        <h4 style="display:inline-block; float:right">£{{recommend.price|floatformat:2}}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.image}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr/>
                    <button class="btn btn-outline-secondary add-btn update-cart" data-product={{product.id}} data-action="add">Add to Cart</button>
                    <h4 style="display:inline-block; float:right">£{{product.price|floatformat:2}}</h4>
                </div>
            </div>
        {% endfor %}
    </div>    
{%endblock content%}