body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 300px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:35px;
	display: inline-block;
	margin-left: 15px;
	margin-top:-9px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
	margin-top:-10px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.login-box{
	display:block;
	width: 300px;
	height: 285px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
}
.signup-box{
	display:block;
	width: 300px;
	height: auto;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	position: absolute;
    top: 20%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
}

.login-list{
	list-style: none;
}

.searchcontainer{
	margin-top:15px;
	margin-bottom: -50px;
	width:140%;
}

.searchbox{
	border:none;
	width:35px;
	height:35px;
	padding:0px;
	margin-left:80px;
	margin-right:100px;
	background-color: transparent;
}
.searchbox img{
	width : 100%;
	height:100%;
	object-fit:cover;
	border: 1px solid #000;
	margin-bottom:-20px;
}

.loginup{
	margin-top:-6px;
	background-color: #4a9eff;
	border: 1px solid #000;
}

/* Dropdown Button */
.dropbtn {
	background-color: transparent;
	color: transparent;
	padding: 16px;
	font-size: 16px;
	border: none;
	display: relative;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
	display: absolute;
	margin-right:60px;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	right:-50px;
	width: 330px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius:8px;
}
   
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content::after{
	content:'';
	position:absolute;
	top:-19px;
	left:235px;
	border:10px solid transparent;
	border-bottom-color:#f1f1f1;
}

.cartdropdown{
	max-height:500px;
	overflow-y:scroll;
}

.dropdowncat{
	display: absolute;
	margin-right:60px;
}

.dropdowncat-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	left:180px;
	max-width: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius:8px;
}
.categorydropdown{
	max-height:500px;
}

.dropdowncat:hover .dropdowncat-content {
	display: flex;
	justify-content: space-between;}

.dropdowncat-content::after{
	content:'';
	position:absolute;
	top:-19px;
	left:50px;
	border:10px solid transparent;
	border-bottom-color:#f1f1f1;
}

.categorydisplay{
	margin:10px;
	border:none;
}
.categorydisplay:hover{
	color:#4a9eff;
}

.reco-slider{
	position:relative;

}

.recoCon{
	height:100%;
	width:100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	border: #000 3px;
	border-style: solid;
	margin-top: 30px;
	margin-bottom: 30px;
}
.recoCon .col-lg-4{
	white-space:wrap;
	display:inline-block;
}

.collab-recommender{
	display:block;
}
.chg-quantity-button{
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}
.cart-row-reco{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
